img {
	border: none;
}

#nav {
    border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

.nav-user {
	padding-right: 55px !important;
}

.nav-user img {
	position: absolute;
	width: 50px;
	height: 50px;
	top: 0;
    right: 0;
	overflow: hidden;
	opacity: .9;
}

.nav-user:hover img {
	opacity: 1;
}

.navbar-header .fa-power-off {
	transition: transform .4s;
	-moz-transition: transform .4s;
	-webkit-transition: transform .4s;
}
.navbar-header:hover .fa-power-off {
	transform: rotate(-360deg);
	-ms-transform: rotate(-360deg); /* IE 9 */
	-moz-transform: rotate(-360deg); /* Firefox */
	-webkit-transform: rotate(-360deg); /* Chrome, Safari, Opera */
}

.container {
	width: 85% !important;
}

.selector {
	width: 100%;
	height: 96px;
	white-space: nowrap;
	overflow: auto;
	-webkit-overflow-scrolling: touch; /* For iOS 5+ */
}

.avatar {
	position: relative;
	display: inline-block;
	width: 96px;
	height: 96px;
}

.avatar img {
	width: 96px;
	height: 96px;
	z-index: 10;
	opacity: .9;
	transition: opacity .1s;
}

.avatar img:hover {
	opacity: 1;
}

.avatar span {
	background-color: rgba(0,0,0,.4);
	color: #ffffff;
	position: absolute;
	width: 100%;
	left: 0;
	padding-left: 5px;
	bottom: 0;
	z-index: 11;
	overflow: hidden;
	letter-spacing: -1px;
}